@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;0,900;1,400;1,500;1,600&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
}

/* ---------- Header Css ----------  */

.nav-link {
  font-size: 18px;
  font-weight: 500;
}

/* ---------- Bread Crumb Css ----------  */

.breadcrumb-container {
  height: 400px;
  background-color: #8f1a33f8;
  background-image: url('./images/breadcrumb.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}